<div id="sidebar" [class]="midHidden ? 'mid-hidden' : 'hidden'">
  <div class="sidebar-top">
    <img class="hide-on-sidebar-closed" [src]="topInfo.icon" />
    <span class="overflow-ellipsis hide-on-sidebar-closed">{{ topInfo.name }}</span>
    <div class="toggle-sidebar-hidden">
      <mat-slide-toggle
        color="primary"
        class="sidebar-slide-toggle"
        [formControl]="hideSidebar"
      ></mat-slide-toggle>
    </div>
  </div>
  <mat-divider style="padding: 0"></mat-divider>
  <app-sidenav [midHidden]="hideSidebar.value"></app-sidenav>
</div>
<!-- only in mobile resolutions -->
<button id="toggle-button-over-body" (click)="toggleSidebar()"></button>
