<!-- TOP DE LA TABLA -->
<eda-top-table
  name="Usuarios de la aplicación"
  [description]="usuariosFiltrados + ' - ' + usuariosSeleccionados"
>
  <button
    [matTooltip]="'Actualizado ' + lastUpdated"
    mat-icon-button
    (click)="getUsuarios()"
  >
    <mat-icon>refresh</mat-icon>
  </button>
  <button matTooltip="Asignar permisos" mat-icon-button (click)="setPermissionsToUsers()">
    <mat-icon>lock_open</mat-icon>
  </button>
</eda-top-table>
<!-- TABLA -->
<eda-datatable
  [displayedColumns]="displayedColumns"
  [columnNames]="columnNames"
  [loading]="loading"
  [hasRefreshButton]="false"
  [hasSuggestions]="true"
  columnForSuggestion="user"
  [hasSelectableRows]="hasSelectableRows"
  (selectRow)="onSelectRow($event)"
  (selectRows)="onSelectRows($event)"
  (filtering)="onFiltering($event)"
  (resetFilter)="onResetFilter()"
>
</eda-datatable>
