<input cdkFocusInitial type="text" style="display: none" />
<h1 *ngIf="data.title !== ''" class="font-size-20">{{ data.title }}</h1>
<p class="font-size-18">{{ data.content }}</p>
<div class="buttons">
  <button mat-button *ngIf="data.type === 'confirm'" color="accent" (click)="onConfirm()">
    SI
  </button>
  <button mat-button *ngIf="data.type === 'confirm'" color="warn" (click)="onCancel()">
    NO
  </button>
  <button mat-button *ngIf="data.type === 'alert'" color="accent" (click)="onClose()">
    OK
  </button>
</div>
