th {
  padding: 4px 4px;
}
.table-header {
  color: var(--light-color);
}
.eda-value-per-hour-table {
  font-size: 10px;
  font-family: 'bodycommerce';
  box-shadow: var(--eda-box-shadow);
  background: var(--light-color);
  width: 100%;
  border-collapse: collapse;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
}
.width-35 {
  width: 35px;
  min-width: 35px;
  max-width: 35px;
}
.width-110 {
  width: 110px;
  min-width: 110px;
  max-width: 110px;
}
::ng-deep {
  .vph-tooltip {
    white-space: pre-line !important;
  }
}
