<table class="eda-value-per-hour-table">
  <tr>
    <th
      class="table-header"
      [class.bg-mat-primary-500]="!addWarningClass.includes(resultName)"
      [class.bg-mat-warn-500]="addWarningClass.includes(resultName)"
    >
      {{ valueName }}
    </th>
    <ng-container *ngFor="let item of data">
      <th
        class="bg-primary-500 table-header"
        [class.bg-mat-primary-500]="!addWarningClass.includes(resultName)"
        [class.bg-mat-warn-500]="addWarningClass.includes(resultName)"
      >
        {{ item[value] }}:00
      </th>
    </ng-container>
  </tr>
  <tr>
    <th [class.width-110]="resultName !== 'Resultado'">
      {{ resultName }}
    </th>
    <ng-container *ngFor="let item of data">
      <th
        [class.width-35]="resultName !== 'Resultado'"
        [matTooltip]="
          hasTooltip && item[result]
            ? 'INSULINA: ' +
              item.INSULINA +
              '\n \n CANTIDAD: ' +
              item.CANTIDAD +
              '\n \n OBSERVACION: ' +
              item.OBSERVACION
            : ''
        "
        matTooltipClass="vph-tooltip"
      >
        {{ [null, undefined].indexOf(item[result]) >= 0 ? 0 : item[result] }}
      </th>
    </ng-container>
  </tr>
</table>
