<!-- FORMULARIO DE CONSULTA -->
<eda-box-form
  *ngIf="!onConsult"
  predefinedGrid="small"
  name="Consultar PGP"
  description="Establezca el rango de fechas de la consulta"
  button="Consultar PFGP"
  [loading]="loading"
  width="small"
  [formGroup]="myForm"
  (submit)="onSubmit()"
>
  <eda-date-range-field
    label="Rango Fecha del Reporte"
    [start]="inicioReporte"
    [end]="finalReporte"
  >
  </eda-date-range-field>
</eda-box-form>
<!-- RESULTADOS -->
<div *ngIf="onConsult">
  <div class="top">
    <div class="left">
      <button matTooltip="Volver" mat-icon-button (click)="backToForm()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{ dateConsult }}</span>
    </div>

    <div class="right">
      <div class="container">
        <div class="row">
          <div class="col-3 bg-green white text-palette text-palette-top">0-70</div>
          <div class="col-3 bg-yellow text-palette">71-80</div>
          <div class="col-3 bg-orange text-palette">81-90</div>
          <div class="col-3 bg-red white text-palette text-palette-bottom">91 - ∞</div>
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group mat-align-tabs="center" color="accent" animationDuration="0ms">
    <!-- GRAFICAS -->
    <mat-tab label="Graficas">
      <pfgp-graficas
        *ngIf="showGraficas"
        [inicioReporte]="inicioReporte.value.toISOString().split('T')[0]"
        [finalReporte]="finalReporte.value.toISOString().split('T')[0]"
        [isActualMonth]="isActualMonth"
        [isLastMonth]="isLastMonth"
        [centrosAtencion]="centrosAtencion"
        [context]="context"
      ></pfgp-graficas>
    </mat-tab>
    <!-- FACTURADO -->
    <mat-tab label="Facturado">
      <pfgp-facturado
        [isActualMonth]="isActualMonth"
        [diferenciaConsolidado]="diferenciaConsolidado"
        [inicioReporte]="inicioReporte.value.toISOString().split('T')[0]"
        [finalReporte]="finalReporte.value.toISOString().split('T')[0]"
        [centrosAtencion]="centrosAtencion"
        [context]="context"
        *ngIf="showFacturado"
      ></pfgp-facturado>
    </mat-tab>
    <!-- ACOSTADO -->
    <mat-tab label="Acostado" *ngIf="isActualMonth || isLastMonth">
      <pfgp-acostado
        [inicioReporte]="inicioReporte.value.toISOString().split('T')[0]"
        [finalReporte]="finalReporte.value.toISOString().split('T')[0]"
        [diferenciaConsolidado]="diferenciaConsolidado"
        [isActualMonth]="isActualMonth"
        [centrosAtencion]="centrosAtencion"
        [context]="context"
        *ngIf="showAcostado"
      ></pfgp-acostado>
    </mat-tab>
    <!-- CONSOLIDADO -->
    <mat-tab label="Consolidado" *ngIf="isActualMonth">
      <pfgp-consolidado
        [inicioReporte]="inicioReporte.value.toISOString().split('T')[0]"
        [finalReporte]="finalReporte.value.toISOString().split('T')[0]"
        *ngIf="showConsolidado"
      ></pfgp-consolidado>
    </mat-tab>
  </mat-tab-group>
</div>
