<input cdkFocusInitial type="text" style="display: none" />
<!-- HEADER DE LA TABLA -->
<div class="table-header row no-padding">
  <div class="left col-12 col-sm-6">
    <div class="margin-left-10 white-space-nowrap">
      <!-- BUTTON 'GENERAR REPORTE' -->
      <button mat-icon-button matTooltip="Generar Reporte" (click)="generarReporte()">
        <img class="excel-icon" src="assets/images/icons/export-excel.png" />
      </button>
      <!-- INPUT 'SEARCH' -->
      <mat-form-field class="filter-field" floatLabel="never">
        <input
          matInput
          [(ngModel)]="searchKey"
          placeholder="Buscar"
          autocomplete="off"
          (keyup)="onKeyupSearchKey()"
        />
        <button mat-icon-button matSuffix *ngIf="searchKey" (click)="onClearSearchKey()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <mat-paginator
      class="paginator titlecommerce"
      [length]="dataSource.length"
      [pageSizeOptions]="[30]"
      showFirstLastButtons
      [hidePageSize]="true"
    >
    </mat-paginator>
  </div>
</div>

<!-- TABLA -->
<h4 class="margin-left-10">{{ data.title }}</h4>
<div class="elevation table-scroll bg-white">
  <table class="table bodycommerce" mat-table [dataSource]="dataSource" matSort>
    <ng-container
      *ngFor="let table of displayedColumns; let i = index"
      [matColumnDef]="displayedColumns[i]"
    >
      <!-- TITULOS DE LAS COLUMNAS -->
      <th mat-header-cell class="th" *matHeaderCellDef mat-sort-header>
        {{ columnsNames[i] }}
      </th>
      <th>
        <!-- CELDAS DE LA TABLA -->
      </th>
      <td
        class="td font-size-10"
        [class.bolder]="['ServicioNombre', 'Agrupador'].indexOf(displayedColumns[i]) >= 0"
        [style.width.px]="rowWidthsInPx[i]"
        [style.min-width.px]="rowWidthsInPx[i]"
        mat-cell
        *matCellDef="let element"
      >
        {{ element[displayedColumns[i]] | tableTransfromValue: displayedColumns[i] }}
      </td>
      <!-- FOOTER DE LA TABLA -->
      <td class="bolder" mat-footer-cell *matFooterCellDef>
        <div *ngIf="i === 0">TOTAL</div>

        <div *ngIf="i !== 0">
          {{ displayedColumns[i] | SumTableValues: dataSource.filteredData }}
        </div>
      </td>
    </ng-container>
    <!-- FILAS DE LA TABLA -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      class="h-20"
      [class.unlined-row]="unlinedRows"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>
