<!-- TOP DE LA TABLA -->
<eda-top-table
  name="Censo de pacientes de la institución"
  [description]="dataSourceLength + ' paciente(s) ' + dataSourceContent"
>
  <span>
    <button matTooltip="Filtrar" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a mat-menu-item (click)="filtrarPorCentro(ALTA_CENTRO)">{{ ALTA_CENTRO }}</a>
      <a mat-menu-item (click)="filtrarPorCentro(MEDICOS_SA)">{{ MEDICOS_SA }}</a>
      <a mat-menu-item (click)="filtrarPorCentro('ALL')">TODOS</a>
    </mat-menu>
  </span>
  <button [matTooltip]="'Actualizado ' + lastUpdated" mat-icon-button (click)="getCensoPacientes()">
    <mat-icon>refresh</mat-icon>
  </button>
</eda-top-table>
<!-- TABLA -->
<eda-datatable
  [displayedColumns]="displayedColumns"
  [columnNames]="columnNames"
  [hasRefreshButton]="false"
  [hasExportExcelButton]="true"
  [hasActionsButtons]="true"
  tooltipAction1="Información del paciente"
  iconAction1="info"
  [hasAction2]="true"
  tooltipAction2="Estancias del paciente"
  iconAction2="event"
  [loading]="loading"
  [hasSuggestions]="true"
  columnForSuggestion="HSUNOMBRE"
  columnResalted="HCACODIGO"
  [rowWidthsInPx]="[80, 300, 80, 80, 300, 100]"
  [rowsHasSubcontent]="['GPANOMPAC', 'GDENOMBRE']"
  [rowsSubcontent]="[{ title: 'Documento', row: 'GPADOCPAC' }, { row: 'GASNOMBRE' }]"
  (action1)="showInformacionPaciente($event)"
  (action2)="showEstanciasPaciente($event)"
>
</eda-datatable>
