.mat-custom-error {
  margin-top: -30px;
  font-size: 12px;
  height: 14px;
  color: transparent;
  float: left;
  max-width: 100%;
  line-height: 12px;
  &.show {
    margin-top: -17px;
    color: var(--mat-warn-500);
    transition: ease 0.3s;
  }
  & div {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
}
