.progress-bar {
  width: 100% !important;
  min-width: 200px !important;
  &-img {
    width: 200px;
  }
  &-container {
    height: 100%;
    width: 40%;
    margin: 0 auto;
    text-align: center;
  }
}
.progress-spinner {
  display: block;
  margin: auto;
}
