<!-- FORMULARIO DE CONSULTA -->
<eda-box-form
  *ngIf="!onConsult"
  name="Reporte Sabanas UCI"
  description="Establezca parámetros para generar la consulta"
  button="Consultar sabanas"
  [grids]="[12, 8, 6, 4]"
  [loading]="loading"
  [formGroup]="myForm"
  (submit)="onSubmit()"
>
  <div class="row">
    <div class="col-12 col-sm-6">
      <eda-number-field label="Ingreso Paciente" formControlName="ingreso">
      </eda-number-field>
    </div>
    <div class="col-12 col-sm-6">
      <eda-date-field label="Fecha Ingreso" formControlName="fecha"></eda-date-field>
    </div>
  </div>
</eda-box-form>
<!-- TABLA CON PACIENTES SIN PESO REGISTRADO -->
<div class="margin-top-20">
  <eda-datatable
    [hidden]="onConsult"
    [displayedColumns]="displayedColumns"
    [columnNames]="columnNames"
    [loading]="loadingTable"
    columnResalted="AINCONSEC"
    [rowWidthsInPx]="[50, 290, 390, 50, 200]"
    [pxToSubstractFromScrollHeight]="410"
    [rowsHasSubcontent]="['GPANOMPAC', 'HSUNOMBRE']"
    [rowsSubcontent]="[
      { title: 'Documento', row: 'AINCONSEC' },
      { title: 'Codigo', row: 'HSUCODIGO' }
    ]"
    (refresh)="getPacientesSinPeso()"
  >
  </eda-datatable>
</div>
<!-- RESULTADOS DE CONSULTA -->
<button *ngIf="onConsult" mat-icon-button (click)="backToForm()">
  <mat-icon>arrow_back</mat-icon>
</button>
<span class="bolder" *ngIf="onConsult">BALANCE DEL {{ fechaReporte }}</span>
<mat-tab-group
  *ngIf="onConsult"
  color="accent"
  mat-align-tabs="center"
  animationDuration="0ms"
>
  <!-- PACIENTE -->
  <mat-tab label="Paciente">
    <div class="paciente-box bodycommerce">
      <eda-box [grids]="[12, 12, 10, 8, 6]">
        <div class="row" *ngFor="let item of infoIngreso">
          <div class="col-6">
            <span class="bolder">{{ item.value }}</span>
          </div>
          <div class="col-6">
            <span>: {{ item.result }}</span>
          </div>
        </div>
      </eda-box>
    </div>
  </mat-tab>
  <!-- SIGNOS VITALES -->
  <mat-tab label="Signos Vitales">
    <div *ngIf="signos.length === 0">
      <eda-box class="align-center bodycommerce" predefinedGrid="small">
        <span>Al paciente no se le han tomado los signos vitales</span>
      </eda-box>
    </div>
    <div *ngIf="signos.length !== 0">
      <div *ngFor="let signo of signos">
        <eda-value-per-hour-table
          [data]="signo.result"
          valueName="Hora"
          value="hora"
          [resultName]="signo.value"
          result="VALOR"
        >
        </eda-value-per-hour-table>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Liquidos">
    <!-- LIQUIDOS -->
    <div class="container liquidos-cards">
      <div class="row">
        <div
          class="col-6 col-md-4 col-lg-2"
          *ngFor="let item of estadisticas; let i = index"
        >
          <eda-card [topLineClass]="estadisticasTopLineBg[i]">
            <div class="overflow-ellipsis">
              <span class="font-size-14">{{ item.value }}</span>
              <br />
              <span class="bolder">{{ item.result | number: '1.2-2' }}</span>
            </div>
          </eda-card>
        </div>
      </div>
    </div>
    <div *ngIf="liquidos.length === 0">
      <eda-box class="align-center bodycommerce" predefinedGrid="small">
        <span>Al paciente no se le han suministrado liquidos</span>
      </eda-box>
    </div>
    <div *ngIf="liquidos.length !== 0">
      <div *ngFor="let liquido of liquidos">
        <eda-value-per-hour-table
          [data]="liquido.result"
          valueName="Hora"
          value="hora"
          [addWarningClass]="subgruposLiquidosPerdidos"
          [resultName]="liquido.value"
          result="CANTIDAD"
        >
        </eda-value-per-hour-table>
      </div>
    </div>
  </mat-tab>
  <!-- GLUCOMETRÍA -->
  <mat-tab label="Glucometría">
    <eda-value-per-hour-table
      [data]="glucometria"
      [hasTooltip]="true"
      valueName="Hora"
      value="hora"
      resultName="Resultado"
      result="RESULTADO"
    >
    </eda-value-per-hour-table>
  </mat-tab>
</mat-tab-group>
