<div>
  <button
    (click)="actualizar()"
    id="ajustar-graficas"
    mat-icon-button
    matTooltip="Ajustar a la pantalla"
    [disabled]="disableBtnUpd"
  >
    <mat-icon>photo_size_select_large</mat-icon>
  </button>
  <span *ngIf="isActualMonth || isLastMonth">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>analytics</mat-icon> <b>{{ graficasTitle }}</b>
    </button>
    <mat-menu #menu="matMenu" class="mat-menu">
      <a mat-menu-item class="mat-menu-link" (click)="select('facturado')">FACTURADO</a>
      <a mat-menu-item class="mat-menu-link" (click)="select('acostado')">ACOSTADO</a>
    </mat-menu>
  </span>
</div>
<mat-divider></mat-divider>
<eda-progress-bar *ngIf="updatingAll"></eda-progress-bar>
<!-- GRUPO DE GRAFICAS 'FACTURADO' -->
<div class="container">
  <div class="row no-padding" *ngIf="showFacturado">
    <!-- AGRUPADORES NUEVA EPS -->
    <div
      class="col-12 col-md-6"
      *ngIf="context === 'ALTA-CENTRO' || context === 'VALLEDUPAR'"
    >
      <eda-progress-bar *ngIf="!showAgrupadoresNuevaEps"></eda-progress-bar>
      <highcharts-pie
        *ngIf="showAgrupadoresNuevaEps"
        [data]="dataAgrupadoresNuevaEPS"
        [title]="'Agrupadores Nueva EPS'"
      >
      </highcharts-pie>
    </div>
    <!-- REGISTRO DE SERVICIOS DIARIOS -->
    <div class="col-12 col-md-6">
      <eda-progress-bar *ngIf="!showConsDiaG1 || !showConsDiaG2 || !showConsDiaG3">
      </eda-progress-bar>
      <highcharts-spline
        *ngIf="showConsDiaG1 && showConsDiaG2 && showConsDiaG3"
        [data]="dataConsumidoDiario"
        [categories]="categoriasConsumidoDiario"
        [title]="'Registro de Servicios Diarios'"
      >
      </highcharts-spline>
    </div>
    <!-- AGRUPADORES ASMET -->
    <div class="col-12 col-md-6" *ngIf="context !== 'VALLEDUPAR'">
      <eda-progress-bar *ngIf="!showAgrupadoresASMET"></eda-progress-bar>
      <highcharts-pie
        *ngIf="showAgrupadoresASMET"
        [data]="dataAgrupadoresASMET"
        [title]="'Agrupadores ASMET'"
      >
      </highcharts-pie>
    </div>
    <!-- FACTURADO / EJECUTADO -->
    <div class="col-12 col-md-6">
      <eda-progress-bar *ngIf="!showConsumidoFacturado"></eda-progress-bar>
      <highcharts-column
        *ngIf="showConsumidoFacturado"
        [data]="dataConsumidoFacturado"
        [categories]="categoriasConsumidoFacturado"
        [title]="'Facturado / Ejecutado'"
      >
      </highcharts-column>
    </div>
  </div>
</div>
<!-- GRUPO DE GRAFICAS 'ACOSTADO' -->
<div class="container">
  <div class="row no-padding" *ngIf="showAcostado">
    <!-- PACIENTES ACOSTADOS -->
    <div class="col-12 col-md-6">
      <eda-progress-bar *ngIf="!showConsumidoAcostado"></eda-progress-bar>
      <highcharts-pie
        *ngIf="showConsumidoAcostado"
        [data]="dataConsumidoAcostado"
        [title]="'Pacientes Acostados'"
      >
      </highcharts-pie>
    </div>
    <!-- CONSUMIDO DIARIO ACOSTADO -->
    <div class="col-12 col-md-6">
      <eda-progress-bar *ngIf="!showConsumidoDiarioAcostado"></eda-progress-bar>
      <highcharts-spline
        *ngIf="showConsumidoDiarioAcostado"
        [data]="dataConsumidoDiarioAcostado"
        [categories]="categoriasConsumidoDiarioAcostado"
        [title]="'Consumido Diario Acostado'"
      >
      </highcharts-spline>
    </div>
    <!-- TOTAL CARGADO -->
    <div class="col-12 col-md-6">
      <eda-progress-bar *ngIf="!showTotalCargado"></eda-progress-bar>
      <highcharts-pie
        *ngIf="showTotalCargado"
        [data]="dataTotalCargado"
        [title]="'Total Cargado'"
      >
      </highcharts-pie>
    </div>
    <!-- FACTURADO / EJECUTADO -->
    <div class="col-12 col-md-6">
      <eda-progress-bar *ngIf="!showFactEjecAcost"></eda-progress-bar>
      <highcharts-column
        *ngIf="showFactEjecAcost"
        [data]="dataFactEjecAcost"
        [categories]="categoriasFactEjecAcost"
        [title]="'Facturado / Ejecutado'"
      >
      </highcharts-column>
    </div>
  </div>
</div>
