<!-- FORMULARIO DE CONSULTA -->
<eda-box-form
  *ngIf="!onConsult"
  name="Dietas de pacientes en hospitalización"
  description="Establezca parámetros para definir dieta de pacientes"
  [grids]="[12, 12, 10, 8, 6]"
  button="Consultar pacientes"
  [loading]="loading"
  [formGroup]="myForm"
  (submit)="onSubmit()"
>
  <div class="row">
    <div class="col-12 col-sm-6 d-none d-sm-block">
      <b>Descripción del proceso</b><br />
      <span class="bodycommerce">
        Las dietas hospitalarias son planes de alimentación mediante los cuales se
        seleccionan los alimentos más adecuados, para garantizar que un enfermo
        hospitalizado mantenga o alcance un estado de nutrición óptimo. Pueden perseguir
        un efecto terapéutico, de mantenimiento o preventivo.
      </span>
    </div>
    <div class="col-12 col-sm-6">
      <eda-select-field
        label="Centro de atención"
        formControlName="centro"
        [suggestions]="centrosArray"
        value="id"
        option="centroAtencion"
      >
      </eda-select-field>
      <eda-date-field label="Fecha de dieta" formControlName="fecha"></eda-date-field>
      <eda-select-field
        label="Jornada de dieta"
        formControlName="jornada_dieta"
        [suggestions]="jornadasArray"
      >
      </eda-select-field>
      <mat-form-field>
        <mat-label>Subgrupo de cama</mat-label>
        <input
          matInput
          type="text"
          class="black"
          [matAutocomplete]="auto"
          formControlName="subgrupo_cama"
          (keyup)="filtrarSubgrupos('keyup')"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of subgruposArrayFiltered.slice(0, 6)"
            class="subgrupo-options"
            [value]="option.NAME"
            [class.no-found]="option.HSUCODIGO === null"
            (click)="filtrarSubgrupos('selected', option.HSUCODIGO)"
          >
            {{ option.NAME }}
          </mat-option>
        </mat-autocomplete>
        <button
          *ngIf="subgrupo_cama.value"
          type="button"
          mat-button
          matSuffix
          mat-icon-button
          (click)="clearSubgrupoCama()"
        >
          <mat-icon>close</mat-icon>
        </button>
        <mat-error
          *ngIf="
            (subgrupo_cama?.dirty && subgrupo_cama?.hasError('required')) ||
            (subgrupo_cama?.touched && subgrupo_cama?.hasError('required'))
          "
        >
          El campo es requerido
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</eda-box-form>
<!-- RESULTADOS DE LA CONSULTA -->
<div *ngIf="onConsult">
  <!-- TOP DE LA TABLA -->
  <eda-top-table
    [name]="subgrupo_camaHSUNOMBRE"
    [description]="'Jornada : ' + jornada + '-' + centroAtencion"
  >
    <button mat-icon-button matTooltip="Volver" (click)="backToForm()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button matTooltip="Refrescar" mat-icon-button (click)="onUpdate()">
      <mat-icon>refresh</mat-icon>
    </button>
  </eda-top-table>
  <!-- TABLA -->
  <eda-datatable
    [hidden]="!onConsult"
    [displayedColumns]="displayedColumns"
    [columnNames]="columnNames"
    [hasRefreshButton]="false"
    [hasSendButton]="true"
    [hasSelectableRows]="true"
    [stickyHeader]="true"
    [loading]="loadingTable"
    columnResalted="CAMA"
    [validateNullValues]="true"
    [rowWidthsInPx]="[80, 250, 250, 150, 250]"
    [rowsHasSubcontent]="['GPANOMPAC', 'GMENOMCOM']"
    [rowsSubcontent]="[{ title: 'Evolución', row: 'HCSFECFOL' }, { row: 'GEEDESCRI' }]"
    (send)="onSendTable($event)"
    (selectRow)="onSelectRow($event)"
  >
  </eda-datatable>
</div>
