:root {
  --header-height: 55px;
  --footer-height: 40px;
  --sidebar-width: 278px;
  --sidebar-mid-width: 65px;
  --sidebar-hidden-position: -280px;
  --container-padding: 20px;
}
$SM_RESOLUTION: 576px;
$MD_RESOLUTION: 768px;
$LG_RESOLUTION: 992px;
$XL_RESOLUTION: 1200px;
$XXL_RESOLUTION: 1400px;
