.mat-form-field {
  width: 100%;
}
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: var(--mat-form-field-border-color-hover) !important;
}
.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-underline::before,
.mat-form-field .mat-form-field-ripple {
  background-color: var(--mat-form-field-border-color-hover) !important;
}
.mat-form-field-appearance-standard {
  margin-top: -15px;
}
#body.accesscontrol {
  .mat-form-field-appearance-outline {
    margin-bottom: -13px;
  }
  .mat-form-field-appearance-fill {
    margin-bottom: -6px;
  }
  .mat-form-field-appearance-standard {
    margin-bottom: -6px;
  }
  .mat-form-field-appearance-legacy {
    margin-bottom: -3px;
  }
  .mat-form-field-appearance-outline {
    margin-top: -2px;
  }
  .mat-form-field-appearance-fill {
    margin-top: 4px;
  }
}
#body.layout {
  .mat-form-field-appearance-outline {
    margin-bottom: -5px;
  }
}
.mat-form-field-appearance-fill input:-webkit-autofill,
.mat-form-field-appearance-fill input:-webkit-autofill:hover,
.mat-form-field-appearance-fill input:-webkit-autofill:focus,
.mat-form-field-appearance-fill input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--mat-autofill-fill-box-shadow) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--mat-autofill-fill-box-shadow) inset !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--mat-autofill-all-box-shadow) inset !important;
  -webkit-box-shadow: 0 0 0 30px var(--mat-autofill-all-box-shadow) inset !important;
}
