<div [class]="class" [style]="style">
  <div class="eda-table-header row no-padding">
    <div class="col-12 col-sm-6">
      <div class="left" style="margin-left: 10px">
        <button
          *ngIf="hasBackButton"
          class="eda-table-button"
          matTooltip="Volver"
          mat-icon-button
          (click)="onBack()"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <button
          *ngIf="hasSendButton"
          class="eda-table-button"
          matTooltip="Enviar"
          mat-icon-button
          (click)="onSend()"
        >
          <mat-icon>send</mat-icon>
        </button>
        <button
          *ngIf="hasExportExcelButton"
          class="eda-table-button"
          matTooltip="Exportar Excel"
          mat-icon-button
          (click)="onExportExcel()"
        >
          <img
            style="width: 32px; margin-top: -6px"
            src="assets/images/icons/export-excel.png"
          />
        </button>
        <button
          *ngIf="hasExportPdfButton"
          class="eda-table-button"
          matTooltip="Exportar Pdf"
          mat-icon-button
          (click)="onExportPdf()"
        >
          <img
            style="width: 32px; margin-top: -6px"
            src="assets/images/icons/export-pdf.png"
          />
        </button>
        <button
          *ngIf="hasRefreshButton"
          class="eda-table-button"
          [matTooltip]="lastUpdated"
          mat-icon-button
          (click)="onRefresh()"
        >
          <mat-icon>refresh</mat-icon>
        </button>
        <mat-form-field class="filter-field" floatLabel="never" *ngIf="hasFilterField">
          <input
            matInput
            [(ngModel)]="searchKey"
            placeholder="Buscar"
            autocomplete="off"
            (keyup)="onKeyupSearchKey()"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              class="suggestions"
              *ngFor="let option of suggestionsFiltered.slice(0, 6)"
              [value]="option"
              (click)="onKeyupSearchKey()"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
          <button
            mat-icon-button
            matSuffix
            *ngIf="searchKey"
            (click)="onClearSearchKey()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <mat-paginator
        class="paginator titlecommerce overflow-ellipsis white-space-nowrap"
        [class.d-none]="!hasPaginator"
        [length]="dataSource.length"
        [pageSizeOptions]="[30]"
        showFirstLastButtons
        [hidePageSize]="true"
      >
      </mat-paginator>
    </div>
  </div>
  <div
    class="table-scroll table-elevation"
    [style.max-height]="
      !mobileQuery.matches
        ? 'calc(100vh - ' + pxToSubstractFromScrollHeight + 'px)'
        : 'calc(100vh - ' + (pxToSubstractFromScrollHeight + 60) + 'px)'
    "
  >
    <table mat-table [dataSource]="!loading ? dataSource : []" matSort>
      <ng-container
        *ngFor="let table of displayedColumns; let i = index"
        [matColumnDef]="displayedColumns[i]"
      >
        <div *ngIf="displayedColumns[i] !== 'select'">
          <div *ngIf="hasSort">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ columnNames[i] }}
            </th>
          </div>
          <div *ngIf="!hasSort">
            <th mat-header-cell *matHeaderCellDef>
              {{ columnNames[i] }}
            </th>
          </div>
        </div>
        <div *ngIf="displayedColumns[i] === 'select'">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
            >
            </mat-checkbox>
          </th>
        </div>
        <div *ngIf="displayedColumns[i] === 'select'">
          <td style="min-width: 100px" mat-cell *matCellDef="let row">
            <mat-checkbox
              (click)="$event.stopPropagation(); clickOnCheckbox()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
            >
            </mat-checkbox>
          </td>
        </div>
        <div *ngIf="displayedColumns[i] !== 'select'">
          <td
            mat-cell
            *matCellDef="let element"
            style="min-width: 100px"
            [style.width.px]="rowWidthsInPx[i]"
            [style.min-width.px]="rowWidthsInPx[i]"
          >
            <div
              *ngIf="
                (displayedColumns[i] !== nameActionsColumn && !hasPdfRoute) ||
                (['RutaArchivo'].indexOf(displayedColumns[i]) < 0 && hasPdfRoute)
              "
              [matTooltip]="i === 0 ? element[rowTooltip] : ''"
              [matTooltipPosition]="'right'"
              [style.width.px]="rowWidthsInPx[i]"
              [style.min-width.px]="rowWidthsInPx[i]"
              [ngClass]="{
                'capsule resalted-primary-500': displayedColumns[i] === columnResalted,
                bolder:
                  (validateDays && displayedColumns[i] === 'Dias') ||
                  ['PORC_OCUPADAS', 'PORC_DESOCUPADAS'].indexOf(displayedColumns[i]) >= 0,
                green:
                  (validateDays &&
                    displayedColumns[i] === 'Dias' &&
                    element.Dias > 0 &&
                    element.Dias < 30) ||
                  displayedColumns[i] === 'PORC_OCUPADAS',
                orange:
                  (validateDays &&
                    displayedColumns[i] === 'Dias' &&
                    element.Dias > 30 &&
                    element.Dias < 60) ||
                  displayedColumns[i] === 'PORC_DESOCUPADAS',
                red: validateDays && displayedColumns[i] === 'Dias' && element.Dias > 60,
                blue: validateDays && displayedColumns[i] === 'Dias' && element.Dias <= 0
              }"
            >
              {{
                element[displayedColumns[i]] | tableTransfromValue: displayedColumns[i]
              }}
              <br />
              <span
                class="table-subcontent-color"
                *ngIf="
                  rowsHasSubcontent[0] && rowsHasSubcontent[0] === displayedColumns[i]
                "
              >
                {{ rowsSubcontent[0].title ? rowsSubcontent[0].title + ':' : '' }}
                {{ element[rowsSubcontent[0].row] | formatDate: 2 }}
              </span>
              <span
                class="table-subcontent-color"
                *ngIf="
                  rowsHasSubcontent[1] && rowsHasSubcontent[1] === displayedColumns[i]
                "
              >
                {{ rowsSubcontent[1].title ? rowsSubcontent[1].title + ':' : '' }}
                {{ element[rowsSubcontent[1].row] | formatDate: 2 }}
              </span>
              <span
                class="table-subcontent-color"
                *ngIf="
                  rowsHasSubcontent[2] && rowsHasSubcontent[2] === displayedColumns[i]
                "
              >
                {{ rowsSubcontent[2].title ? rowsSubcontent[2].title + ':' : '' }}
                {{ element[rowsSubcontent[2].row] | formatDate: 2 }}
              </span>
            </div>
            <div *ngIf="displayedColumns[i] === nameActionsColumn">
              <button
                *ngIf="hasActionsButtons"
                [matTooltip]="tooltipAction1"
                (click)="onAction1(element)"
                mat-icon-button
              >
                <mat-icon class="table-icon">{{ iconAction1 }}</mat-icon>
              </button>
              <button
                *ngIf="hasAction2"
                [matTooltip]="tooltipAction2"
                (click)="onAction2(element)"
                mat-icon-button
              >
                <mat-icon class="table-icon">{{ iconAction2 }}</mat-icon>
              </button>
              <button
                *ngIf="hasAction3"
                [matTooltip]="tooltipAction3"
                (click)="onAction3(element)"
                mat-icon-button
              >
                <mat-icon class="table-icon">{{ iconAction3 }}</mat-icon>
              </button>
            </div>
            <div *ngIf="['RutaArchivo'].indexOf(displayedColumns[i]) >= 0 && hasPdfRoute">
              <div *ngIf="element[displayedColumns[i]] === null">NULL</div>
              <div *ngIf="element[displayedColumns[i]] !== null">
                <a
                  mat-icon-button
                  [href]="url + element[displayedColumns[i]]"
                  target="_blank"
                >
                  <mat-icon>remove_red_eye</mat-icon>
                </a>
              </div>
            </div>
          </td>
        </div>

        <td mat-footer-cell *matFooterCellDef>
          <span *ngIf="i === 0 && !loading && showTotalOnFooterRow">TOTAL</span>
          <span *ngIf="i !== 0 && !loading && showTotalOnFooterRow">
            {{ displayedColumns[i] | SumTableValues: dataSource.filteredData }}
          </span>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: stickyHeader"></tr>
      <tr
        [class]="
          (unlinedRows ? 'unlined-row ' : '') +
          'h-20 ' +
          (hasSelectableRows ? 'selectable-row' : '')
        "
        [class.row-has-null-values]="
          (validateNullValues &&
            (row.HCSFECFOL === null ||
              row.DIEGRUCON === null ||
              row.GMENOMCOM === null ||
              row.DIEGRUTIP.includes('NO APLICA') ||
              row.DIEGRUTIP.includes('NADA VIA ORAL') ||
              row.DIEGRUCON === 'NADA VIA ORAL')) ||
          (validateDays && row.Dias > 0 && row.Estado === 'PENDIENTE')
        "
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="onSelectRow(row)"
      ></tr>
      <div *ngIf="hasFooterRow">
        <tr
          [class.d-none]="loading"
          mat-footer-row
          *matFooterRowDef="displayedColumns"
        ></tr>
      </div>
    </table>
    <mat-spinner class="table-loading-spinner" *ngIf="loading"></mat-spinner>
  </div>
</div>
