<div class="container">
  <div class="row no-padding">
    <div class="col-0 col-sm-1 col-md-2" *ngIf="showInterconsultasAgrupadas"></div>
    <div
      [class]="
        'mid-screen ' +
        (showInterconsultasAgrupadas ? 'col-12 col-sm-10 col-md-8' : 'col-12 shared')
      "
    >
      <!-- TOP DE LA TABLA -->
      <div [class.width-on-mid-screen]="!showInterconsultasAgrupadas">
        <eda-top-table [name]="tableTitle" [description]="tableSubti">
          <span *ngIf="showInterconsultasAgrupadas">
            <button matTooltip="Filtrar" mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="mat-menu">
              <a mat-menu-item (click)="filtrarPorCentro(ALTA_CENTRO)">{{
                ALTA_CENTRO
              }}</a>
              <a mat-menu-item (click)="filtrarPorCentro(MEDICOS_SA)">{{ MEDICOS_SA }}</a>
              <a mat-menu-item (click)="filtrarPorCentro('ALL')">TODOS</a>
            </mat-menu>
          </span>
          <button
            *ngIf="showInterconsultasAgrupadas"
            mat-icon-button
            [matTooltip]="lastUpdateTable"
            (click)="onUpdateTable()"
          >
            <mat-icon>refresh</mat-icon>
          </button>
          <button
            *ngIf="!showInterconsultasAgrupadas"
            mat-icon-button
            matTooltip="Volver"
            (click)="onBackToLastTable()"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
        </eda-top-table>
        <!-- TABLA -->
        <eda-datatable
          [displayedColumns]="displayedColumns"
          [columnNames]="columnNames"
          [hasFooterRow]="false"
          [hasRefreshButton]="false"
          [stickyHeader]="true"
          [loading]="loadingTable"
          [columnResalted]="columnResalted"
          [hasSelectableRows]="true"
          (selectRow)="onSelectRow($event)"
        >
        </eda-datatable>
      </div>
      <div class="width-on-mid-screen under" *ngIf="showPacienteSeleccionado">
        <!-- Detalles del paciente -->
        <eda-box-container predefinedGrid="big">
          <div class="black bg-white info-paciente-top">
            <span>Historia: {{ interconsultaSeleccionada.HCNFOLIO }}</span>
            <br />
            <span class="gray">
              {{ interconsultaSeleccionada.PACNOMBRE }}
            </span>
            <mat-divider></mat-divider>
          </div>
          <div class="info-paciente container-fluid no-padding bg-white">
            <div class="row black" *ngFor="let item of estPacEspSel01">
              <div class="col-4 bolder">{{ item.value }}</div>
              <div class="col-8">{{ item.result }}</div>
            </div>
            <div class="row black" *ngFor="let item of estPacEspSel02">
              <div class="col-12 bolder">{{ item.value }}</div>
              <div class="col-12">{{ item.result }}</div>
            </div>
          </div>
        </eda-box-container>
      </div>
    </div>
    <div class="col-0 col-sm-1 col-md-2" *ngIf="showInterconsultasAgrupadas"></div>
  </div>
</div>
