<!-- TOP DE LA TABLA -->
<eda-top-table [name]="title" [description]="'Fecha: ' + subtitle">
  <button
    mat-icon-button
    class="float-right"
    matTooltip="Refrescar"
    *ngIf="onVisualizeCatalogo"
    (click)="actualizarCatalogo()"
  >
    <mat-icon>refresh</mat-icon>
  </button>
  <button
    mat-icon-button
    class="float-right"
    matTooltip="Volver"
    *ngIf="!onVisualizeCatalogo"
    (click)="backToCatalogo()"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
  <mat-datepicker-toggle
    *ngIf="onVisualizeCatalogo"
    class="white float-right"
    matSuffix
    [for]="picker"
  ></mat-datepicker-toggle>
  <mat-form-field class="hidden-form">
    <input matInput [matDatepicker]="picker" [formControl]="fecha" autocomplete="off" />
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</eda-top-table>
<!-- TABLA -->
<eda-datatable
  [displayedColumns]="displayedColumns"
  [columnNames]="columnNames"
  [hasRefreshButton]="false"
  [hasExportPdfButton]="true"
  [hasSelectableRows]="hasSelectableRows"
  [hasFooterRow]="true"
  [showTotalOnFooterRow]="true"
  [loading]="loading"
  [columnResalted]="columnResalted"
  [rowWidthsInPx]="rowWidthsInPx"
  (exportPdf)="generarReporte()"
  (selectRow)="getDietas($event)"
>
</eda-datatable>
<!-- ESTE COMPONENTE GENERA EL REPORTE (PDF) CUANDO SE GENERA LA ORDEN -->
<jornada-dietas-pdf
  class="d-none"
  *ngIf="generatePdf"
  [dataSource]="dataSource"
  [isCatalogo]="onVisualizeCatalogo"
  [combinaciones]="combinaciones"
  [columnNames]="columnNames"
  [displayedColumns]="displayedColumns"
  [title]="title"
  [date]="subtitle"
>
</jornada-dietas-pdf>
