<!-- HEADER DE LA TABLA -->
<button
  mat-icon-button
  [matTooltip]="showGraphs ? 'Ver tabla' : 'Ver Graficas'"
  *ngIf="!onEditView"
  (click)="onShowGraphs()"
>
  <mat-icon>{{ showGraphs ? 'table_rows' : 'pie_chart' }}</mat-icon>
</button>
<button
  [matTooltip]="'Actualizado ' + lastConsult"
  mat-icon-button
  (click)="update()"
  *ngIf="!onEditView"
>
  <mat-icon>refresh</mat-icon>
</button>
<!-- INPUT 'GENERAR REPORTE' -->
<mat-datepicker-toggle
  class="black"
  matTooltip="Seleccionar Rango Reporte"
  [for]="picker"
  *ngIf="!onEditView"
></mat-datepicker-toggle>
<mat-form-field class="d-none">
  <mat-label>Rango Fecha del Reporte</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Inicio" [(ngModel)]="inicioReporte" />
    <input matEndDate placeholder="Final" [(ngModel)]="finalReporte" />
  </mat-date-range-input>
  <mat-date-range-picker (closed)="onFilterByRange()" #picker></mat-date-range-picker>
</mat-form-field>
<button
  matTooltip="Lista Completa"
  *ngIf="!isOldData && !onEditView"
  mat-icon-button
  (click)="getOldData()"
>
  <mat-icon>reply_all</mat-icon>
</button>
<!-- TABLA -->
<div>
  <eda-datatable
    [hidden]="onEditView || showGraphs"
    [displayedColumns]="displayedColumns"
    [columnNames]="columnNames"
    [hasFooterRow]="false"
    [hasRefreshButton]="false"
    [hasExportExcelButton]="true"
    [hasPdfRoute]="true"
    nameExcel="conciliacionCartera"
    [loading]="loading"
    columnResalted="IdConciliacion"
    [validateDays]="true"
    [hasSelectableRows]="true"
    [rowWidthsInPx]="[60, 60, 80, 80, 300, 60, 80, 80]"
    [rowsHasSubcontent]="['Tercero']"
    [rowsSubcontent]="[{ title: 'NIT', row: 'Nit' }]"
    (selectRow)="onSelectRow($event)"
  >
  </eda-datatable>
</div>
<!-- FORMULARIO DE CONSULTA -->
<button
  *ngIf="onEditView"
  matTooltip="Volver"
  class="margin-left-10"
  mat-icon-button
  (click)="backToTable()"
>
  <mat-icon>arrow_back</mat-icon>
</button>
<div style="margin-top: -40px">
  <eda-box-form
    *ngIf="onEditView"
    name="Conciliación de Cartera"
    description="Actualización de registro"
    predefinedGrid="medium"
    button="actualizar"
    [formGroup]="myForm"
    (submit)="onUpdate()"
  >
    <div class="row align-center">
      <div class="col-12 col-sm-12">
        <eda-date-field
          label="Fecha Conciliación"
          formControlName="FECHACONC"
        ></eda-date-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-text-field label="N° Acta Conciliación" formControlName="NACTACONCI">
        </eda-text-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor Conciliado"
          formControlName="VALCONCI"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor Reconocido para pagos"
          formControlName="VALRECPAG"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor Glosado"
          formControlName="VALGLOSAD"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor Devuelto"
          formControlName="VALDEVUEL"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor no Radicado"
          formControlName="VALNORADI"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor en Auditoria"
          formControlName="AUDITORIA"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor de Retención"
          formControlName="RETENCION"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor Glosas Aceptadas por IPS"
          formControlName="GLOSACEPTIPS"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor no Descontado por EPS"
          formControlName="NOTNODESCEPS"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor Pagos no Aplicados"
          formControlName="PAGNOAPLI"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor Cuota Moderadora"
          formControlName="COPCUOMODE"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6">
        <eda-money-field
          label="Valor Cancelado"
          formControlName="VALCANCEL"
        ></eda-money-field>
      </div>
      <div class="col-12 col-sm-6 align-center">
        <label class="custom-file-upload" style="width: 100%">
          <input type="file" (change)="uploadFile($event)" #fileinputconci />
          {{ pdfName }}
        </label>
        <a
          class="margin-top-10 margin-left-10"
          [href]="URLPublic + PdfRoute"
          target="_blank"
          *ngIf="hasPdfPrevious"
        >
          <span class="m5-top"> ver PDF Actual </span>
        </a>
      </div>
      <div class="col-12 col-sm-12">
        <section class="align-left margin-bottom-10">
          <label class="tipconlab">Estado Conciliación *</label><br />
          <mat-radio-group formControlName="ESTADO">
            <mat-radio-button value="PENDIENTE">PENDIENTE</mat-radio-button><br />
            <mat-radio-button value="CONCILIADO">CONCILIADO</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
    </div>
  </eda-box-form>
</div>
<!-- GRAFICAS -->
<div *ngIf="showGraphs" style="margin-left: 10px">
  <div class="row">
    <div class="col-12 col-sm-6">
      <div class="margin-top-30 margin-bottom-20">
        <donut-chartjs
          description="Conciliaciones por ERP"
          [data]="Graphs01Data"
          *ngIf="showGraphs01"
        >
        </donut-chartjs>
        <br />
        <donut-chartjs
          description="Conciliaciones por Usuario"
          [data]="Graphs02Data"
          *ngIf="canSeeGraphics && showGraphs02"
        >
        </donut-chartjs>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <eda-card *ngFor="let nav of cards" [topLineColor]="nav.color">
        <span class="titlecommerce bolder">{{ nav.NAME }}</span>
        <mat-divider></mat-divider>
        <div class="row bodycommerce" *ngFor="let item of nav.ROWSAGROUPED">
          <div class="col-6">
            <span>{{ item.NAME }}</span>
          </div>
          <div class="col-6">
            <span>{{ item.ROWS.length }} Conciliacion(es)</span>
          </div>
        </div>
      </eda-card>
    </div>
  </div>
  <div class="spinner-sabanas-uci" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
