<div *ngIf="!data.type" style="height: 100%">
  <iframe class="pdf-frame" [src]="data.pdf"></iframe>
</div>
<div *ngIf="data.type">
  <div>
    <div class="row no-padding" style="padding: 10px">
      <div class="col-9 text-overflow-ellipsis">
        <span class="dialog-title mat-primary-500 white-space-nowrap" cdkFocusInitial>
          {{ data.row.Tercero }}</span
        >
        <span class="dialog-subtitle mat-primary-100">
          Fecha Conciliación: {{ data.row.FechaConciliacion | date }}
        </span>
      </div>
      <div class="col-3">
        <div class="float-right">
          <button mat-icon-button (click)="onEdit()"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="onDelete()" *ngIf="canDelete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
  <div class="row">
    <div class="col-12 col-sm-6 font-weight-bolder">Cod. conciliación:</div>
    <div class="col-12 col-sm-6">{{ data.row.IdConciliacion }}</div>

    <div class="col-12 col-sm-6 font-weight-bolder">Cod. gestión:</div>
    <div class="col-12 col-sm-6">{{ data.row.IdGestion }}</div>

    <div class="col-12 col-sm-6 font-weight-bolder">Días:</div>
    <div class="col-12 col-sm-6">{{ data.row.Dias + " día(s)" }}</div>

    <div class="col-12 col-sm-6 font-weight-bolder">Trimestre:</div>
    <div class="col-12 col-sm-6">{{ data.row.Trimestre }}</div>

    <div class="col-12 col-sm-6 font-weight-bolder">Estado:</div>
    <div class="col-12 col-sm-6">{{ data.row.Estado }}</div>

    <div class="col-12 col-sm-6 font-weight-bolder">N° Acta conciliación:</div>
    <div class="col-12 col-sm-6">{{ data.row.NActaConciliacion }}</div>

    <div class="col-12 col-sm-6 font-weight-bolder">Nit:</div>
    <div class="col-12 col-sm-6">{{ data.row.Nit }}</div>

    <div class="col-12 col-sm-6 font-weight-bolder">Identificación:</div>
    <div class="col-12 col-sm-6">{{ data.row.Identificacion }}</div>

    <div class="col-12 col-sm-6 font-weight-bolder">Usuario encargado:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">{{ data.row.UsuarioEncargado}}</div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor cancelado:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorCancelado | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor conciliado:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorConciliado | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor cuota moderadora:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorCuotaModeradora | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">
      Valor de glosas aceptada por IPS:
    </div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorDeGlosasAceptadaPorIPS | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor devuelto:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorDevuelto | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor en auditoria:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorEnAuditoria | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor en retencion:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorEnRetencion | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor glosado:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorGlosado | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor no descontado por EPS:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorNoDescontadoPorEps | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor no radicado:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorNoRadicado | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor pago no aplicado:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorPagoNoAplicado | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor reconocido para pago:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorReconocidoParaPago | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor total:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorTotal | number:'.2-2' }}
    </div>

    <div class="col-12 col-sm-6 font-weight-bolder">Valor diferencia:</div>
    <div class="col-12 col-sm-6 font-weight-bolder">
      $ {{ data.row.ValorDiferencia | number:'.2-2' }}
    </div>
  </div>
</div>
