.form-name {
  font-family: 'titlecommerce';
}
.form-description {
  font-family: 'bodycommerce';
  text-align: justify;
  font-size: 14px;
}
.buttons {
  overflow: hidden;
  text-align: right;
  margin-top: 10px;
  & button {
    font-weight: bolder;
    text-transform: uppercase;
  }
}
