@import '../layout.common.scss';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--header-box-shadow) !important;
  background: var(--header-background);
  color: var(--header-color);
  height: var(--header-height);
  z-index: 997;
  width: 100%;
  position: sticky;
  &-user-menu {
    & button {
      font-family: 'titlecommerce';
      background: transparent;
      font-weight: 700;
      cursor: pointer;
      border: none;
      border: 10px;
      & span {
        float: left;
        font-weight: bolder;
        padding: 10px 0 10px 0;
        margin-right: 10px;
      }
      & mat-icon {
        padding-top: 10px;
        margin-top: -3px;
      }
      &:hover {
        background: var(--header-user-menu-hover-button);
        border-radius: 10px;
        border: none;
      }
    }
  }
  & .left {
    margin-left: 10px;
  }
  & .right {
    margin-right: 10px;
  }
}
@media (min-width: $SM_RESOLUTION) {
  .header-user-menu-a {
    width: 180px !important;
  }
}
.logout-title {
  font-size: 20px;
  font-weight: bolder;
}
.logout-content {
  font-size: 18px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  & button {
    font-weight: bolder;
  }
}
