<div class="header">
  <div class="left">
    <button mat-icon-button id="toggle-button" (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="right">
    <span class="header-user-menu">
      <button [matMenuTriggerFor]="menu">
        <span class="d-none d-sm-block">
          {{ userName }}
        </span>
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item class="header-user-menu-a" (click)="onLogout()">
          <mat-icon>logout</mat-icon>
          <span>Cerrar Sesión</span>
        </a>
      </mat-menu>
    </span>
  </div>
</div>
