.observaciones-ta {
  width: 100%;
  min-height: 100px;
  border-radius: 10px;
  border-color: #b5b5b5;
}
.tipconlab {
  color: #757575;
}
.dialog-title {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
.dialog-subtitle {
  font-size: 18px;
  text-align: left;
  padding-top: 10px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  &::before {
    content: '\A';
    white-space: pre;
  }
}
.margin-top-5 {
  margin-top: 5px;
}
