::ng-deep .mat-form-field.hidden-form {
  visibility: hidden;
  font-size: 5px;
}
.search-field {
  font-family: 'bodycommerce';
  max-width: 210px;
  background: #ffffff;
  height: 56px;
  padding-left: 10px;
  padding-right: 10px;
}
