<!-- FORMULARIO DE CONSULTA -->
<eda-box-form
  *ngIf="!onConsult"
  name="Cambiar conceptos de facturación en admisión"
  description="Filtros para cambiar conceptos de facturación"
  button="Buscar Productos"
  [loading]="loading"
  predefinedGrid="medium"
  [formGroup]="myForm"
  (submit)="onSubmit()"
>
  <div class="row align-center">
    <div class="col-12 col-sm-5">
      <eda-number-field label="Ingreso Paciente" formControlName="ingreso">
      </eda-number-field>
    </div>
    <div class="col-12 col-sm-7">
      <eda-select-field
        label="Concepto de facturación"
        formControlName="conceptoFacturacion"
        [suggestions]="conceptosSuggestions"
      >
      </eda-select-field>
    </div>
  </div>
</eda-box-form>
<!-- RESULTADOS DE LA CONSULTA -->
<div [hidden]="!onConsult">
  <!-- TOP DE LA TABLA -->
  <eda-top-table
    [name]="'Numero de Ingreso: ' + numIngreso"
    [description]="
      productosFiltrados +
      ' producto(s) facturado(s) - ' +
      productosSeleccionados +
      ' producto(s) seleccionado(s)'
    "
  >
    <button matTooltip="Volver" mat-icon-button (click)="backToForm()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button matTooltip="Cambiar" mat-icon-button (click)="setRoles()">
      <mat-icon>shuffle</mat-icon>
    </button>
  </eda-top-table>
  <!-- TABLA -->
  <eda-datatable
    [displayedColumns]="displayedColumns"
    [columnNames]="columnNames"
    [loading]="loading"
    [hasRefreshButton]="false"
    (selectRows)="onSelectRows($event)"
    (filtering)="onFiltering($event)"
    (resetFilter)="onResetFilter()"
  >
  </eda-datatable>
</div>
