<div #content class="pdf-content">
  <img class="marca-agua" [src]="'assets/images/marca-agua/' + marcaAgua" /><br />

  <div class="pdf-title">
    <b>Reporte de sabanas UCI</b>
  </div>
  <br /><br />

  <div class="informacion-paciente">
    <b>Fecha de ingreso: </b>
    <span>{{ paciente.FECHA_REGISTRO_ENF }}</span>
    <b>ingreso: </b>
    <span>{{ paciente.CONS_INGRESO }}</span>
    <b>Identificación: </b>
    <span>{{ paciente.PACNUMDOC }}</span>
    <b>Paciente: </b>
    <span>{{ paciente.GPANOMCOM }}</span>
    <b>Eps: </b>
    <span>{{ paciente.GDENOMBRE }}</span>
    <b>Cama: </b>
    <span>UNIDAD DE CUIDADOS INTENSIVOS</span>
    <b>Peso: </b>
    <span>{{ paciente.PESO }} KL(S)</span>
    <b>Balance Acumulado: </b>
    <span>{{ balanceAcumulado | number: "1.2-2" }}</span>
    <b>Liquidos Administrados: </b>
    <span>{{ liquidosAdministrados }}</span>
    <b>Liquidos Eliminados: </b>
    <span>{{ liquidosEliminados }}</span>
    <b>Gasto Urinario: </b>
    <span>{{ gastoUrinario | number: "1.2-2" }}</span>
    <b>Perdida Insensible: </b>
    <span>{{ perdidaInsensible | number: "1.2-2" }}</span>
  </div>

  <div class="pdf-divider"></div>
  <!-- Glucometrias -->
  <b class="pdf-section-title">Glucometrías</b>
  <table>
    <tr>
      <ng-container *ngFor="let item of glucometria">
        <th>{{ item.hora }}:00</th>
      </ng-container>
    </tr>
    <tr>
      <ng-container *ngFor="let item of glucometria">
        <th>{{ item.RESULTADO != null ? item.RESULTADO : 0 }}</th>
      </ng-container>
    </tr>
  </table>
  <div class="pdf-divider"></div>
  <!-- Signos Vitales -->
  <b class="pdf-section-title">Signos Vitales</b>
  <div *ngFor="let item of signos; let i = index">
    <b class="pdf-table-title"> {{ item.value }}</b>
    <table>
      <tr>
        <ng-container *ngFor="let signo of item.result; let j = index">
          <th>{{ signo.hora }}:00</th>
        </ng-container>
      </tr>
      <tr class="align-center">
        <ng-container *ngFor="let signo of item.result; let j = index">
          <th>
            {{ [null, undefined].indexOf(signo.VALOR) >= 0 ? 0 : signo.VALOR }}
          </th>
        </ng-container>
      </tr>
    </table>
    <div
      *ngIf="[4, 5, 6, 7, 8, 9, 10, 11, 12].indexOf(signos.length) >= 0 && i === 3"
      style="margin-bottom: 95px"></div>
  </div>
  <div class="pdf-divider" *ngIf="signos.length !== 4"></div>
  <!-- Balance de Líquidos -->
  <b class="pdf-section-title">Balance de líquidos</b>
  <div *ngFor="let item of liquidos; let i = index" class="liq">
    <b class="pdf-table-title"> {{ item.value }}</b>
    <table>
      <tr>
        <ng-container *ngFor="let liq of item.result">
          <th>{{ liq.hora }}:00</th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let liq of item.result">
          <th>
            {{ [null, undefined].indexOf(liq.CANTIDAD) >= 0 ? 0 : liq.CANTIDAD }}
          </th>
        </ng-container>
      </tr>
    </table>
    <div *ngIf="signos.length === 1">
      <div *ngIf="[2].indexOf(i) >= 0" class="mb60"></div>
      <div *ngIf="[13, 24, 35, 46, 57, 68, 79, 90].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 2">
      <div *ngIf="[1].indexOf(i) >= 0" class="mb60"></div>
      <div *ngIf="[12, 23, 34, 45, 56, 67, 78, 89].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 3">
      <div *ngIf="[0].indexOf(i) >= 0" class="mb60"></div>
      <div *ngIf="[11, 22, 33, 44, 55, 66, 77, 88].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 4">
      <div *ngIf="[9].indexOf(i) >= 0" class="mb50"></div>
      <div *ngIf="[20, 31, 42, 53, 64, 75, 86].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 5">
      <div *ngIf="[8].indexOf(i) >= 0" class="mb35"></div>
      <div *ngIf="[19, 30, 41, 52, 63, 74, 85].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 6">
      <div *ngIf="[7].indexOf(i) >= 0" class="mb35"></div>
      <div *ngIf="[18, 29, 40, 51, 62, 73, 84].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 7">
      <div *ngIf="[6].indexOf(i) >= 0" class="mb35"></div>
      <div *ngIf="[17, 28, 39, 50, 61, 72, 83].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 8">
      <div *ngIf="[5].indexOf(i) >= 0" class="mb35"></div>
      <div *ngIf="[16, 27, 38, 49, 60, 71, 82].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 9">
      <div *ngIf="[4].indexOf(i) >= 0" class="mb35"></div>
      <div *ngIf="[15, 26, 37, 48, 59, 70, 81, 92].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 10">
      <div *ngIf="[3].indexOf(i) >= 0" class="mb35"></div>
      <div *ngIf="[14, 25, 36, 47, 58, 69, 80, 91].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 11">
      <div *ngIf="[2].indexOf(i) >= 0" class="mb35"></div>
      <div *ngIf="[13, 24, 35, 46, 57, 68, 79, 90].indexOf(i) >= 0" class="mb24"></div>
    </div>
    <div *ngIf="signos.length === 12">
      <div *ngIf="[1].indexOf(i) >= 0" class="mb35"></div>
      <div *ngIf="[12, 23, 34, 45, 56, 67, 78, 89].indexOf(i) >= 0" class="mb24"></div>
    </div>
  </div>
</div>
