.align-left {
  text-align: left !important;
}
.table-elevation {
  box-shadow: var(--eda-table-box-shadow);
}
.table-scroll-radicacion-facturacion {
  width: 100%;
  overflow: auto;
  max-height: calc(50vh);
}
.excel-icon {
  width: 32px;
}
table {
  width: 100%;
  font-family: 'bodycommerce';
}
.h-20 {
  height: 20px !important;
}
.unlined-row .mat-cell {
  border-bottom: 1px solid transparent !important;
  border-top: 1px solid transparent !important;
}
.td {
  font-family: 'bodycommerce';
  font-size: 12px;
}
