.eda-expansion-panel-container {
  border-radius: 5px;
  overflow: hidden;
}
.eda-expansion-panel {
  &-body {
    color: black;
    transition: max-height 0.2s ease-out;
    background: transparent;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
  }
}
.eda-expansion-panel-header {
  color: black;

  background: transparent;
  align-items: center;
  text-align: justify;
  position: relative;
  cursor: pointer;
  display: flex;
  width: 100%;
  &::after {
    transition: transform 0.3s ease;
    font-size: 18px !important;
    position: absolute;
    content: '\203A';
    right: 1rem;
  }
  &.active::after {
    transition: transform 0.3s ease;
    transform: rotate(90deg);
  }
}
