<form [formGroup]="Form" (ngSubmit)="onSubmit()">
  <eda-select-field
    label="Institución"
    appearance="outline"
    formControlName="connection"
    [suggestions]="centrosSuggestions"
  >
  </eda-select-field>
  <eda-text-field
    label="Nombre de Usuario"
    appearance="outline"
    formControlName="identification"
  >
  </eda-text-field>
  <eda-password-field label="Contraseña" appearance="outline" formControlName="password">
  </eda-password-field>
  <button mat-raised-button color="primary" type="submit" [disabled]="authSuccess">
    INICIAR SESIÓN
  </button>
</form>
