<!-- TITULO DE LA TABLA -->
<div class="bg-white table-title">
  <b>{{ tableTitle }}</b>
</div>
<!-- HEADER DE LA TABLA -->
<div class="table-header row no-padding">
  <div class="left col-12 col-sm-6">
    <!-- BUTTON 'ACTUALIZAR' -->
    <button
      *ngIf="visualizeContratos"
      mat-icon-button
      matTooltip="Actualizar"
      (click)="getContratos()"
    >
      <mat-icon>refresh</mat-icon>
    </button>
    <!-- BUTTON 'VOLVER' -->
    <button
      *ngIf="!visualizeContratos"
      mat-icon-button
      matTooltip="Volver"
      (click)="!visualizeContratos && visualizeAgrupadores ? backToContratos() : ''"
      (click)="!visualizeContratos && !visualizeAgrupadores ? backToAgrupadores() : ''"
    >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <!-- BUTTON 'VER INFO' -->
    <button
      *ngIf="visualizeAgrupadores"
      mat-icon-button
      matTooltip="Largas Estancias"
      (click)="seeLargasEstancias()"
    >
      <mat-icon>group_work</mat-icon>
    </button>
    <!-- FILTRO -->
    <span>
      <button
        [disabled]="!visualizeContratos || context !== 'ALTA-CENTRO'"
        matTooltip="Filtrar"
        mat-icon-button
        [matMenuTriggerFor]="menu"
      >
        <mat-icon>filter_list</mat-icon>
      </button>
      <mat-menu #menu="matMenu" class="mat-menu">
        <a mat-menu-item (click)="selectCentroAtencion(id1U, id1U)">MEDICO CENTRO</a>
        <a mat-menu-item (click)="selectCentroAtencion(id2U, id2U)">ALTA COMPLEJIDAD</a>
        <a mat-menu-item (click)="selectCentroAtencion(id1U, id2U)">TODOS</a>
      </mat-menu>
    </span>
    <!-- BUTTON 'GENERAR REPORTE' -->
    <button class="export-excel-button" mat-icon-button matTooltip="Generar Reporte">
      <img src="assets/images/icons/export-excel.png" (click)="generarReporte()" />
    </button>
    <!-- SEARCH FILTER -->
    <div class="margin-horizontal-10">
      <eda-filter-field (event)="applyFilter($event)"></eda-filter-field>
    </div>
  </div>
  <div class="col-12 col-sm-6">
    <mat-paginator
      class="paginator"
      [length]="dataSource.length"
      [pageSizeOptions]="[30]"
      showFirstLastButtons
      [hidePageSize]="true"
    >
    </mat-paginator>
  </div>
</div>
<!-- TABLA -->
<div class="table-container elevation-standard">
  <table class="table" [dataSource]="!loading ? dataSource : []" mat-table matSort>
    <ng-container
      *ngFor="let table of displayedColumns; let i = index"
      [matColumnDef]="displayedColumns[i]"
    >
      <!-- TITULOS DE LAS COLUMNAS -->
      <th class="th" *matHeaderCellDef mat-header-cell mat-sort-header>
        {{ columnsNames[i] }}
      </th>
      <th>
        <!-- CELDAS DE LA TABLA -->
      </th>

      <td
        class="td"
        *matCellDef="let element"
        mat-cell
        [style.width.px]="rowWidthsInPx[i]"
        [style.min-width.px]="rowWidthsInPx[i]"
      >
        <div
          *ngIf="
            (element[displayedColumns[i]] | tableTransfromValue: displayedColumns[i]) !==
            'ASMET'
          "
          [ngClass]="{
            bolder:
              ['Paciente', 'Contrato', 'Agrupador', 'Ejecutado %'].indexOf(
                columnsNames[i]
              ) >= 0,
            'align-right': ['Ejecutado %'].indexOf(columnsNames[i]) >= 0,
            green: ([element, displayedColumns[i]] | tableValueToCompare) == 'green',
            yellow: ([element, displayedColumns[i]] | tableValueToCompare) == 'yellow',
            orange: ([element, displayedColumns[i]] | tableValueToCompare) == 'orange',
            red: ([element, displayedColumns[i]] | tableValueToCompare) == 'red'
          }"
        >
          {{ element[displayedColumns[i]] | tableTransfromValue: displayedColumns[i] }}
          <button
            *ngIf="displayedColumns[i] === 'Acciones'"
            matTooltip="Agrupadores"
            mat-icon-button
            (click)="getAgrupadoresPacientes(element)"
          >
            <mat-icon class="black">group_work</mat-icon>
          </button>
          <button
            *ngIf="displayedColumns[i] === 'Acciones'"
            matTooltip="Servicios"
            (click)="getServiciosPacientes(element)"
            mat-icon-button
          >
            <mat-icon class="black">medical_services</mat-icon>
          </button>
        </div>
        <div
          *ngIf="
            (element[displayedColumns[i]] | tableTransfromValue: displayedColumns[i]) ===
            'ASMET'
          "
          class="black"
        >
          8005 - 8006
        </div>
      </td>
      <!-- FOOTER DE LA TABLA -->
      <td
        class="bolder font-size-12"
        *matFooterCellDef
        mat-footer-cell
        [style.width.px]="rowWidthsInPx[i]"
        [style.min-width.px]="rowWidthsInPx[i]"
      >
        <div
          *ngIf="['Ingreso', 'Agrupador', 'NContrato'].indexOf(displayedColumns[i]) >= 0"
        >
          TOTAL
        </div>
        <div>
          {{ displayedColumns[i] | SumTableValues: dataSource.filteredData }}
        </div>
      </td>
    </ng-container>
    <!-- FILAS DE LA TABLA -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      (click)="visualizeContratos ? getAgrupadores(row) : ''"
      (click)="visualizeAgrupadores ? getPacientes(row) : ''"
      class="unlined-row height-20"
      [class.selectable-row]="visualizeContratos || visualizeAgrupadores"
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
    <tr [class.d-none]="loading" mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <mat-spinner class="table-loading-spinner" *ngIf="loading"></mat-spinner>
</div>
<!-- FIN TABLA -->
