<div class="container">
  <div class="row">
    <div class="col-12">
      <eda-select-field
        label="Concepto de facturación"
        [formControl]="conceptFact"
        [suggestions]="conceptoSuggestions"
      >
      </eda-select-field>
    </div>
    <div class="col-12">
      <div class="align-center">
        <button
          class="bolder"
          (click)="setConceptFact()"
          mat-button
          color="accent"
          [disabled]="!conceptFact.valid"
        >
          CAMBIAR CONCEPTOS
        </button>
      </div>
    </div>
  </div>
</div>
