@import './layout.common.scss';
::ng-deep {
  :root {
    --header-height: 55px;
    --footer-height: 40px;
    --sidebar-width: 238px;
    --sidebar-mid-width: 45px;
    --sidebar-hidden-position: -240px;
    --container-padding: 20px;
  }
  @media (max-width: 270px) {
    :root {
      --sidebar-width: 218px;
      --sidebar-hidden-position: -220px;
    }
  }
}
#container {
  height: calc(100vh - (var(--header-height)));
  background: var(--container-background);
  overflow-y: overlay;
  overflow-x: hidden;
  color: #fafafa;
  &::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    background-clip: padding-box;
    box-shadow: inset 0 0 0 5px;
    border-radius: 10px;
  }
  &:hover {
    transition: color ease 0.2s;
    color: var(--sidebar-color) !important;
  }
  & .content {
    min-height: calc(
      100vh - (var(--header-height) + var(--footer-height)) -
        (var(--container-padding) * 2)
    );
    padding: var(--container-padding);
    z-index: 997;
    color: var(--dark-color);
  }
}
#wrapper {
  transition: all ease 0.3s;
  &.hidden.active {
    margin-left: var(--sidebar-width);
    transition: all ease 0.3s;
  }
  &.mid-hidden {
    margin-left: var(--sidebar-mid-width);
  }
  &.mid-hidden.active {
    margin-left: var(--sidebar-width);
    transition: all ease 0.3s;
  }
}
@media (max-width: $MD_RESOLUTION) {
  #wrapper {
    &.hidden.active,
    &.mid-hidden,
    &.mid-hidden.active {
      margin-left: 0;
    }
  }
  #container {
    &::-webkit-scrollbar {
      width: 0.3em !important;
    }
    &::-webkit-scrollbar:horizontal {
      height: 0.3em !important;
    }
  }
}
