<!-- FORMULARIO DE CONSULTA -->
<eda-box-form
  *ngIf="!onConsult"
  predefinedGrid="small"
  name="Producción en facturación por periodo"
  description="Establezca parámetros para generar consulta"
  button="Consultar producción"
  [loading]="loading"
  width="small"
  [formGroup]="myForm"
  (submit)="onSubmit()"
>
  <eda-date-range-field
    label="Rango Fecha del Reporte"
    [start]="inicioReporte"
    [end]="finalReporte"
  >
  </eda-date-range-field>
</eda-box-form>
<!-- RESULTADOS -->
<div *ngIf="onConsult">
  <div class="row">
    <div class="col-4 col-sm-2">
      <button mat-icon-button matTooltip="Volver" (click)="backToForm()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button
        mat-icon-button
        matTooltip="Actualizar"
        (click)="onUpdate()"
        *ngIf="onConsult && !showProduccionUsuarios && !showInfoUsuarios"
      >
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="col-8 col-sm-6 align-center bolder">
      <span>{{ titlePage }}</span
      ><br />
      {{ rangoConsulta }}
    </div>
    <div
      class="col-12 col-sm-4"
      *ngIf="onConsult && !showProduccionUsuarios && !showInfoUsuarios"
    >
      <eda-select-field
        *ngIf="context === 'ALTA-CENTRO'"
        label="Centro de atención"
        [formControl]="centroAtencion"
        [suggestions]="centrosArray"
      >
      </eda-select-field>
    </div>
  </div>
  <!-- RESULTADOS -->
  <div class="row" *ngIf="onConsult && !showProduccionUsuarios && !showInfoUsuarios">
    <div class="col-12 col-md-8">
      <div class="row">
        <area-chartjs
          *ngIf="showFacturacionAcumulada"
          description="Facturación acumalada del periodo"
          [labels]="labelsFacturacionAcumulada"
          [data]="dataFacturacionAcumulada"
        >
        </area-chartjs>
        <div class="spinner-on-center" *ngIf="!showFacturacionAcumulada">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <area-chartjs
          *ngIf="showFacturacionDiaria"
          description="Facturación diaria del periodo"
          [labels]="labelsFacturacionDiaria"
          [data]="dataFacturacionDiaria"
        >
        </area-chartjs>
        <div class="spinner-on-center" *ngIf="!showFacturacionDiaria">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <stacked-bar-chartjs
          *ngIf="showEgresosPeriodo"
          description="Egresos del periodo"
          [labels]="labelsEgresosPeriodo"
          [data]="dataEgresosPeriodo"
        >
        </stacked-bar-chartjs>
        <div class="spinner-on-center" *ngIf="!showEgresosPeriodo">
          <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
        </div>
        <br />
      </div>
    </div>
    <div class="col-12 col-md-4">
      <!-- CARD 1 -->
      <eda-card class="font-size-14" topLineClass="bg-orange" [hasTopLine]="true">
        <div class="row">
          <div class="col-6">
            <span class="bolder">Meta del periodo</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.METAPERIODO | number: '1.0' }} </span>
          </div>
          <div class="col-6">
            <span class="bolder">Documentos</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.DOCUMENTOS }} factura(s)</span>
          </div>
          <div class="col-6">
            <span class="bolder">Refacturados</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.CANTIDADREFACTURADA }} factura(s) </span>
          </div>
          <div class="col-6">
            <span class="bolder">Anulados</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.FACTURASANULADAS }} factura(s) </span>
          </div>
        </div>
      </eda-card>
      <!-- CARD 2 -->
      <eda-card class="font-size-14" topLineClass="bg-green" [hasTopLine]="true">
        <div class="row">
          <div class="col-6">
            <span class="bolder">Facturado evento</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.FACTURADOEVENTO | number: '1.0' }} </span>
          </div>
          <div class="col-6">
            <span class="bolder">Registro PGP</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.REGISTROPGP | number: '1.0' }} </span>
          </div>
          <div class="col-6">
            <span class="bolder">Producción</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.PRODUCCION | number: '1.0' }} </span>
          </div>
          <div class="col-6">
            <span class="bolder">Fact. recuperación</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.FACTRECUPERACION | number: '1.0' }} </span>
          </div>
          <div class="col-6">
            <span class="bolder">Anulado</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.TOTALFACTURASANULADAS | number: '1.0' }} </span>
          </div>
        </div>
      </eda-card>
      <!-- CARD 3  -->
      <eda-card class="font-size-14" topLineClass="bg-violet" [hasTopLine]="true">
        <div class="row">
          <div class="col-6">
            <span class="bolder">Proyección periodo</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.PROYECCION | number: '1.0' }} </span>
          </div>
          <div class="col-6">
            <span class="bolder">Facturado subtotal</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.FACTURADOSUBTOTAL | number: '1.0' }} </span>
          </div>
          <div class="col-6">
            <span class="bolder">Refacturado</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.TOTALREFACTURADA | number: '1.0' }} </span>
          </div>
          <div class="col-6">
            <span class="bolder">Facturado periodo</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.FACTURADOPERIODO | number: '1.0' }} </span>
          </div>
          <div class="col-6">
            <span class="bolder">Cumplimiento (%)</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.CUMPLIMIENTO | number: '1.0' }}%</span>
          </div>
        </div>
      </eda-card>
      <!-- CARD 4  -->
      <eda-card class="font-size-14" topLineClass="bg-yellow" [hasTopLine]="true">
        <div class="row">
          <div class="col-6">
            <span class="bolder">Facturado PGP</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.FACTURADOPGP | number: '1.0' }} </span>
          </div>
          <div class="col-6">
            <span class="bolder">Deficít PGP</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.DEFICITPGP | number: '1.0' }} </span>
          </div>
        </div>
      </eda-card>
      <!-- CARD 5 -->
      <eda-card class="font-size-14" topLineClass="bg-blue" [hasTopLine]="true">
        <div class="row">
          <div class="col-6">
            <span class="bolder">Egresos pendientes</span>
          </div>
          <div class="col-6">
            <span> {{ resumenInforme.CANTEGRESO }} egreso(s) </span>
          </div>
          <div class="col-6">
            <span class="bolder">Total egresos</span>
          </div>
          <div class="col-6">
            <span>
              {{
                resumenInforme.VALEGRESO === null
                  ? 0
                  : (resumenInforme.VALEGRESO | number: '1.0')
              }}
            </span>
          </div>
        </div>
      </eda-card>
      <!-- BUTTONS -->
      <div class="align-left">
        <button
          mat-button
          class="info-btn m10-top"
          color="accent"
          (click)="showInformation(1)"
        >
          PRODUCCIÓN POR CENTROS DE ATENCIÓN
        </button>
        <button mat-button class="info-btn" color="accent" (click)="showInformation(2)">
          PRODUCCIÓN POR USUARIOS
        </button>
        <button mat-button class="info-btn" color="accent" (click)="showInformation(3)">
          PRODUCCIÓN POR DOCUMENTOS
        </button>
        <button mat-button class="info-btn" color="accent" (click)="showInformation(4)">
          PRODUCCIÓN POR SERVICIOS DE EGRESO
        </button>
        <button mat-button class="info-btn" color="accent" (click)="showInformation(5)">
          PRODUCCIÓN POR ENTIDADES
        </button>
      </div>
    </div>
  </div>
  <!-- PRODUCCION POR USUARIOS -->
  <div class="row pd-12" *ngIf="showProduccionUsuarios && !showInfoUsuarios">
    <div class="col-12 col-lg-4">
      <div class="row" *ngFor="let i of produccionUsuariosP1">
        <div class="col-1" [style]="'background:' + i.color"></div>
        <div class="col-7">
          <span class="font-size-10">{{ i.NOMBRE }}</span>
        </div>
        <div class="col-4 font-size-10">
          {{ i.PORCENTAJEPRODUCCION | number: '1.0' }}%
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row" *ngFor="let i of produccionUsuariosP2">
        <div class="col-1" [style]="'background:' + i.color"></div>
        <div class="col-7">
          <span class="font-size-10">{{ i.NOMBRE }}</span>
        </div>
        <div class="col-4 font-size-10">
          {{ i.PORCENTAJEPRODUCCION | number: '1.0' }}%
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <donut-chartjs [data]="produccionUsuariosData"></donut-chartjs>
    </div>
  </div>
</div>

<div class="table-header row no-padding" [class.d-none]="!showProduccionUsuarios">
  <!-- TABLA -->
  <eda-datatable
    [displayedColumns]="displayedColumns"
    [columnNames]="columnNames"
    [hasFooterRow]="true"
    [showTotalOnFooterRow]="true"
    [hasRefreshButton]="false"
    [loading]="loadingFacturasUsuarios"
    [rowWidthsInPx]="[300]"
    [hasSelectableRows]="true"
    (selectRow)="onSelectRow($event)"
  >
  </eda-datatable>
</div>

<!-- FIN DE LA TABLA -->
<div *ngIf="showInfoUsuarios">
  <div class="row">
    <div class="col-12 col-md-8">
      <area-chartjs
        *ngIf="showFacturasUsuarios"
        description="Núm. de facturas vs. Días del periodo"
        [labels]="labelsFacturasUsuarios"
        [data]="dataFacturasUsuarios"
      >
      </area-chartjs>
    </div>
    <div class="col-12 col-md-4">
      <!-- CARD 1 -->
      <eda-card [topLineColor]="topLineColor">
        <div class="align-center">
          <span class="gray bolder"> Resumen del usuario </span>
        </div>
        <div class="row">
          <div class="col-6">
            <span class="bolder">Documentos</span>
          </div>
          <div class="col-6">
            <span>
              {{
                dataUsuario.resumen[0].DOCUMENTOS !== null
                  ? dataUsuario.resumen[0].DOCUMENTOS
                  : 0
              }}
              factura(s)
            </span>
          </div>
          <div class="col-6">
            <span class="bolder">Refacturados</span>
          </div>
          <div class="col-6">
            <span>
              {{
                dataUsuario.resumen[0].CANTIDADREFACTURADA !== null
                  ? dataUsuario.resumen[0].CANTIDADREFACTURADA
                  : 0
              }}
              factura(s)
            </span>
          </div>
          <div class="pd-10">
            <mat-divider></mat-divider>
          </div>
          <div class="col-6">
            <span class="bolder">Facturado evento</span>
          </div>
          <div class="col-6">
            <span>
              {{
                dataUsuario.resumen[0].FACTURADOEVENTO !== null
                  ? (dataUsuario.resumen[0].FACTURADOEVENTO | number: '1.0')
                  : 0
              }}
            </span>
          </div>
          <div class="col-6">
            <span class="bolder">Registro PGP</span>
          </div>
          <div class="col-6">
            <span>
              {{
                dataUsuario.resumen[0].REGISTROPGP !== null
                  ? (dataUsuario.resumen[0].REGISTROPGP | number: '1.0')
                  : 0
              }}
            </span>
          </div>
          <!--<div class="col-6">
            <span class="card-title d-blue">Facturación PGP</span>
          </div>
          <div class="col-6">
            <span class="d-blue"> {{ resumenInforme.DOCUMENTOS }} factura(s)</span>
          </div>-->
          <div class="col-6">
            <span class="bolder">Anulado</span>
          </div>
          <div class="col-6">
            <span>
              {{
                dataUsuario.resumen[0].TOTALFACTURASANULADAS !== null
                  ? (dataUsuario.resumen[0].TOTALFACTURASANULADAS | number: '1.0')
                  : 0
              }}
            </span>
          </div>
          <div class="col-6">
            <span class="bolder">Producción</span>
          </div>
          <div class="col-6">
            <span> {{ dataUsuario.resumen[0].PRODUCCION | number: '1.0' }}</span>
          </div>
          <div class="col-6">
            <span class="bolder">Refacturado</span>
          </div>
          <div class="col-6">
            <span> {{ dataUsuario.resumen[0].TOTALREFACTURADA | number: '1.0' }}</span>
          </div>
        </div>
      </eda-card>
      <!-- CARD 2 -->
      <eda-card [topLineColor]="topLineColor">
        <div class="align-center">
          <span class="bolder gray"> Promedio del usuario </span>
        </div>
        <div class="row">
          <div class="col-6">
            <span class="bolder">Documentos</span>
          </div>
          <div class="col-6">
            <span> {{ dataUsuario.resumen[0].PROMEDIODOC | number: '1.0' }}% </span>
          </div>
          <div class="col-6">
            <span class="bolder">Facturado subtotal</span>
          </div>
          <div class="col-6">
            <span>{{ dataUsuario.resumen[0].PROMEDIOFACTSUB | number: '1.0' }}</span>
          </div>
          <div class="col-6">
            <span class="bolder">Producción</span>
          </div>
          <div class="col-6">
            <span> {{ dataUsuario.resumen[0].PROMEDIOFACT | number: '1.0' }}</span>
          </div>
          <div class="col-6">
            <span class="bolder">Refacturado</span>
          </div>
          <div class="col-6">
            <span>{{ dataUsuario.resumen[0].PROMEDIOREFACT | number: '1.0' }}</span>
          </div>
        </div>
      </eda-card>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3">
          <button
            mat-button
            class="info-btn m10-top"
            color="accent"
            (click)="showInformation(6)"
          >
            PROD. POR CENTROS DE ATENCIÓN
          </button>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <button
            mat-button
            class="info-btn m10-top"
            color="accent"
            (click)="showInformation(7)"
          >
            PROD. POR DOCUMENTOS
          </button>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <button
            mat-button
            class="info-btn m10-top"
            color="accent"
            (click)="showInformation(8)"
          >
            PROD. POR SERVICIOS DE EGRESO
          </button>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <button
            mat-button
            class="info-btn m10-top"
            color="accent"
            (click)="showInformation(9)"
          >
            PROD. POR ENTIDADES
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
