.lucida {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
}
.w-a4 {
  width: 800px;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  margin-top: 10px;
}
.word-spacing-2 {
  word-spacing: 2px;
}
.line-height-3 {
  line-height: 3px;
}
.fw-80 {
  width: 80px !important;
  min-width: 80px !important;
}
.fw-100 {
  width: 100px !important;
  min-width: 100px !important;
}
.fw-120 {
  width: 120px !important;
  min-width: 120px !important;
}
.fw-140 {
  width: 140px !important;
  min-width: 140px !important;
}
.fw-200 {
  width: 200px !important;
  min-width: 200px !important;
}
.fw-225 {
  width: 225px !important;
  min-width: 225px !important;
}
.fw-250 {
  width: 250px !important;
  min-width: 250px !important;
}
.height-3 {
  height: 3px !important;
}
.unlined-row .mat-cell {
  border-bottom: 1px solid transparent !important;
  border-top: 1px solid transparent !important;
}