<!-- FORMULARIO DE CONSULTA -->
<eda-box-form
  *ngIf="!onConsult"
  predefinedGrid="small"
  name="Estadistico de facturación por periodo"
  description="Establezca parámetros para generar consulta"
  button="Consultar radicación"
  [loading]="loading"
  width="small"
  [formGroup]="myForm"
  (submit)="onSubmit()"
>
  <eda-date-range-field
    label="Rango Fecha del Reporte"
    [start]="inicioReporte"
    [end]="finalReporte"
  >
  </eda-date-range-field>
</eda-box-form>
<!-- RESULTADOS -->
<div *ngIf="onConsult">
  <div class="row">
    <div class="col-4 col-sm-2">
      <button mat-icon-button matTooltip="Volver" (click)="backToForm()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Actualizar" (click)="onUpdate()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
    <div class="col-8 col-sm-6 align-center bolder">
      <span>Informe de radicación en facturación por periodo</span><br />
      {{ rangoConsulta }}
    </div>
    <div class="col-12 col-sm-4">
      <eda-select-field
        *ngIf="context === 'ALTA-CENTRO'"
        label="Centro de atención"
        [formControl]="centroAtencion"
        [suggestions]="centrosArray"
      >
      </eda-select-field>
    </div>
  </div>

  <div class="cards sticky-left">
    <div class="row margin-top-10">
      <div class="col-6 col-md-4 col-xl-2" *ngFor="let item of estadisticas">
        <eda-card
          class="bodycommerce overflow-ellipsis white-space-nowrap padding-top-10"
          style="padding-bottom: 0; max-height: 80px"
          [topLineClass]="getToplineClass(item.title)"
          [class.cursor-pointer]="item.title === 'Pend. radicar'"
          (click)="item.title === 'Pend. radicar' ? openModal(6) : ''"
        >
          <span [class.lineheight3]="item.subtitle !== ''">
            {{ item.title }}
          </span>
          <br />
          <div style="margin-top: -5px" *ngIf="item.subtitle !== ''">
            {{ item.subtitle }}
          </div>
          <div style="height: 18px" *ngIf="item.subtitle === ''"></div>
          <div
            style="margin-top: -20px"
            class="overflow-ellipsis white-space-nowrap font-size-12"
          >
            <h2 [class.green]="item.title === 'Cumplimiento'">
              {{ item.result | number: '1.0'
              }}<b *ngIf="item.title === 'Cumplimiento'">%</b>
              <span
                class="red font-size-14"
                style="margin-left: 5px"
                *ngIf="item.title === 'Cumplimiento'"
                >({{ item.result2 | number: '1.0' }}%)
              </span>
            </h2>
          </div>
        </eda-card>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="spinner-on-center" *ngIf="!showRadicacionAcumulada">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <area-chartjs
        *ngIf="showRadicacionAcumulada"
        description="Radicación acumalada del periodo"
        [labels]="labelsRadicacionAcumulada"
        [data]="dataRadicacionAcumulada"
      >
      </area-chartjs>
    </div>
    <div class="align-center col-12 col-md-6">
      <div class="spinner-on-center" *ngIf="!showRadicacionDiaria">
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
      </div>
      <stacked-bar-chartjs
        *ngIf="showRadicacionDiaria"
        description="Radicación diaria del periodo"
        [labels]="labelsRadicacionDiaria"
        [data]="dataRadicacionDiaria"
      >
      </stacked-bar-chartjs>
    </div>

    <div class="row capitalize">
      <div class="col-12 col-sm-4 col-lg-2">
        <button mat-button color="accent" (click)="getInformation(1)">
          Por documentos
        </button>
      </div>
      <div class="col-12 col-sm-4 col-lg-2">
        <button mat-button color="accent" (click)="getInformation(2)">Por estado</button>
      </div>
      <div class="col-12 col-sm-4 col-lg-2">
        <button mat-button color="accent" (click)="getInformation(3)">
          Por entidades
        </button>
      </div>
      <div class="col-12 col-sm-5 col-lg-3">
        <button mat-button color="accent" (click)="getInformation(4)">
          Confirmada por usuarios
        </button>
      </div>
      <div class="col-12 col-sm-5 col-lg-3">
        <button mat-button color="accent" (click)="getInformation(5)">
          De usuarios en entidad
        </button>
      </div>
    </div>
  </div>
</div>
