.td {
  text-align: right !important;
}
.lineheight3 {
  line-height: 3px;
}
.capitalize {
  & div button {
    text-transform: uppercase !important;
    font-weight: bolder;
  }
}
.spinner-on-center {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 280px;
}
.cursor-pointer {
  cursor: pointer;
}
